<ion-header >
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="categoria">{{categoria.nombre}}</ion-title>
      <ion-title *ngIf="!categoria">Productos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="main-container ion-padding">
  <section>
    <div class="container" *ngIf="searchData.length < 0 || searchParam == ''">
      <div *ngIf="productS.data">
        <div class="row">
          <div class="col-6" id="customCard" *ngFor="let producto of productS.data"
            (click)="selecccionar_producto(producto)">
            <ion-card>
              <ion-card-content>
                <div class="customTitle">
                  <h3><strong>{{producto.nombre}}</strong></h3>
                </div>
              </ion-card-content>
              <div class="customImage">
                <ion-img [src]="producto.imagenurl | images: 'productos' | async"></ion-img>
              </div>

            </ion-card>
          </div>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="searchData.length > 0 && searchParam != ''">
      <div *ngIf="searchData">
        <div class="row">
          <div class="col-6" id="customCard" *ngFor="let producto of searchData"
            (click)="selecccionar_producto(producto)">
            <ion-card>
              <ion-card-content>
                <div class="customTitle">
                  <h2><strong>{{producto.nombre  }}</strong></h2>
                </div>
              </ion-card-content>
              <div class="customImage">
                <ion-img [src]="producto.imagenurl | images: 'productos'" ></ion-img>
              </div>
            </ion-card>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="searchData.length <= 0 && searchParam != '' || !productS.data">
      <div class="container">
        <div class="empty">
          <ion-icon style="width: 100px; height: 100px;" name="nutrition-outline"></ion-icon>
          <h1>No se encontraron resultados para la búsqueda.</h1>
        </div>
      </div>
    </div>

  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
