<ion-content class="main-container">
    <section class="content">
        <div class="logo">
            <img src="assets/theme/images/welcome/appoyalos_logo_nuevo.png" alt="">
            <h2>¡Bienvenido!</h2>
        </div>
        <div class="buttons">
            <a routerLink="/login" mode="md"> <input id="inici" type="button" value="INICIAR SESIÓN"> </a>
            <br>
            <a routerLink="/signin" mode="md"> <input id="regis" type="button" value="REGÍSTRARSE"> </a>
            <br>
            <a style="color:white;" href="#">¿Necesitas ayuda?</a>
        </div>

    </section>
</ion-content>