<app-header mode="md"></app-header>

<ion-content class="animated fadeIn">
    <!-- line break -->
    <br>
    <section>
        <div class="container">
            <div *ngIf="favoritS.dataArr; else favEmpty">
                <div *ngIf="favoritS.dataArr.length > 0; else favEmpty">
                    <!-- List of Sliding Items -->
                    <ion-list>
                        <ion-list-header>
                            <ion-label>Favoritos</ion-label>
                        </ion-list-header>
                        <br>
                        <ion-item-sliding *ngFor="let product of favoritS.dataArr" style="margin-bottom: 10px;">
                            <ion-item routerLink="/producto/{{product.id}}">
                                <ion-thumbnail slot="start">
                                    <img class="customImage" src="{{product.imagenurl | images}}" />
                                </ion-thumbnail>
                                <ion-label class="center text-center">
                                    <h2>{{product.nombre}}</h2>
                                </ion-label>
                            </ion-item>
                            <ion-item-options side="end">
                                <ion-item-option (click)="quitar(product)" color="danger">Quitar</ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>
                </div>
            </div>

            <!-- Div when the favorite is empty -->
            <ng-template #favEmpty>
                <div class="container">
                    <div class="empty">
                        <ion-icon style="width: 100px; height: 100px;" name="heart-outline"></ion-icon>
                        <h1>Favoritos vacío.</h1>
                    </div>
                </div>
            </ng-template>

        </div>
    </section>
</ion-content>

<!-- Footer with tabs of the navigation-->
<ion-footer mode="md">
    <ion-toolbar>
        <app-navegaciontabs></app-navegaciontabs>
    </ion-toolbar>
</ion-footer>