/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.alerta-personalizada .action-sheet-group {
    .danger {
        ion-icon {
            color: #ed1e2c !important;
        }
    }
    .success {
        ion-icon {
            color: #5AA9E5 !important;
        }
    }


}

.alerta-personalizada-aceptcancel {
    .danger {
        color: #ed1e2c !important;
        ion-icon {
            color: #ed1e2c !important;
        }
    }
    .success {
        color: #5AA9E5 !important;
        ion-icon {
            color: #3B78A1 !important;
        }
    }
}

.alerta-personalizada-aceptacept {
    .danger {
        color: #5AA9E5 !important;
        ion-icon {
            color: #3B78A1 !important;
        }
    }
    .success {
        color: #5AA9E5 !important;
        ion-icon {
            color: #3B78A1 !important;
        }
    }
}
// Centrar texto alerta
.alert-button-group, .alert-head, .alert-message{
    text-align: center !important;
    justify-content:center !important;
    margin: 0 auto !important;
}
.alert-message {
    vertical-align: middle !important;
}


.alert-title  {
    color:#5AA9E5 !important;
}
ion-spinner {
    color: #5AA9E5  !important;
}
.loading-wrapper {
    color: #3B78A1 !important;
}




// CATEGORIAS

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

ion-content.main-container {
    background-size: 100%;
    display: grid;
    grid-template-areas: 'head head head head head haead' ' body body body body body body';
}
.fondoAzul {
    --background: url(/assets/theme/images/welcome/myMenu.png)0 0/100% 100% no-repeat;

}

.header {
    grid-area: head;
    display: grid;
    grid-template-areas: 'main main main main main main';
}

.main {
    grid-area: main;
    text-align: center;
    padding: 30px !important;
}

.body {
    text-align: center;
    grid-area: body;
    padding: 0 10px;
    gap: 2%;
    display: grid;

}

.items {
    padding: 30px 30px;
    background-size: cover;
    background-size: 100%;
    background-color: black;
}


.alimentos {
    padding: 65px 35px;
    background-size: cover;
    background-size: 100%;
}

.mobiliario {
    padding: 40px 40px;
    background-color: black;
}

.electronicos {
    background-color: black;
    padding: 40px 40px;
}

.ropa {
    background-color: black;
    padding: 65px 50px;
}

.otros {
    background-color: black;
    padding: 30px 0;
}

.main h3 {
    color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 0;
    margin: 0;
    border: none;
}

.main h2 {
    color: white;
    font-weight: 700;
    font-size: 32px;
    padding: 0;
    margin: 0 auto;
    border: none;
    border: none;
}

p {
    font-size: 14px;
    color: white;
    font-weight: 600;
}

// p:hover {
//     font-size: 0;
// }

// .fadeInDown {
//     -webkit-animation-duration: 1.5s;
//     animation-duration: 1.5s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-name: fadeInDown;
//     animation-name: fadeInDown;
// }

// @keyframes fadeInDown {
//     from {
//         -webkit-transform: translate3d(0, -100%, 0);
//         transform: translate3d(0, -100%, 0);
//     }
//     to {
//         -webkit-transform: translate3d(0, 0, 0);
//         transform: translate3d(0, 0, 0);
//     }
// }

.fadeInLeft {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@keyframes fadeInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}